.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*width: 842px;*/
  height: 100%;
}

.question {
  max-width: 642px;
}

.questionSection {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font: var(--inter-bold-font);
  font-size: var(--font-size-large);
}

.answerSection {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .question {
    width: 288px;
    text-align: center;
  }

  .questionSection {
    font-size: var(--font-size-medium);
    justify-content: center;
  }

  .answerSection {
    justify-content: center;
  }
}

@media only screen and (max-width: 1400px) {
  .answerSection {
    justify-content: center;
  }

  .question {
    max-width: 421px;
    text-align: center;
  }
}
